{% extends 'base.html' %}
{% load static %}

<div class= "container">
  <div class="row">
    {% block content %}
      <div class="col-md-12">
        <h2 class ="text-info" align="center">{{product.name}}</h2>
        <br> 
      </div>
      <br><br>
    </div>  
    <div class='row'>
     <div class='col-md-4'>
       <img src="{{ product.img.url }}" hieght= 250px width =300px>
       <br>

     </div>
     <div class ="col-md-2"></div>
     <div class = "col-md-7">
      <p> <strong>Brand:</strong>{{product.brand}}</p><br>
      <p><strong>Price: </strong>{{product.price}}</p><br>
      <p><strong>Description:</strong><br></p>
      <p>{{ product.description | linebreaks }}</p><br><br>
     </div>
     <br><br>
     </div>
     <br><br>
      <div class="col-md-offset-4 ">
           <input type="submit" value="Add to Cart">
      </div>
      <br><br>
   {% endblock  %}
    
  </div>
  </div>
</div>